body{
    margin: 1px;
}
header > h1{
    text-align: center;
}

header nav{
    margin: 0px;
    list-style: none;  
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

header a{
    display: flex;
    flex-grow: 1;
    padding: 15px;
    align-items: center;
    text-align: center;
}

header a{
    border: 1px solid;
    text-decoration: none;
    color: black;
}

nav img{
    width: 2em;
}

.actuel{
    background-color: lightgray;
}

#accueil{
    border-radius: 30px 0px 0px 30px;
}

#mixte{
    border-radius: 0px 30px 30px 0px;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

main article{
    flex-grow: 1;
    flex-basis: 70%;
}

article section{
    display: flex;
}

footer{
    display: flex;
    border: 1px solid;
    margin-top: 20px;
    min-height: 50px;
}

footer img{
    height: 100px;
}

header img{
    width: 50px;
    height: auto;
}

header li{
    text-align: center;
    vertical-align: middle;
}