header > h1{
    text-align: center;
}

header nav{
    margin: 0px;
}


header ul{
    list-style: none;  
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

header li{
    border: 1px solid;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    padding: 15px;
}

#acceuil{
    background-color: lightgray;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

main article{
    flex-grow: 1;
    flex-basis: 70%;
}

article section{
    display: flex;
}

aside{
    flex-basis: 30%;
    border: 1px solid;
    padding: 5px;
}

footer{
    display: flex;
    border: 1px solid;
    margin-top: 20px;
}

footer img{
    height: 100px;
}

header img{
    width: 50px;
    height: auto;
}

header li{
    text-align: center;
    vertical-align: middle;
}